html {
    overflow: hidden;
}

body .content_container {
    position: relative;
    margin: 0;
    width: 100%;
}

#canvas-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#canvas {
    margin: 0 auto;
}

#edit-menu {
    top: .5vw;
    left: .5vw;
    position: absolute;
}

#edit-button {
    background-color: #00a0e3;
    color: white;
    text-align: center;
}

#cancel-button {
    background-color: darkred;
    color: white;
    text-align: center;
    display: none;
}

#save-button {
    background-color: green;
    color: white;
    text-align: center;
    display: none;
}

#loading-icon {
    color: #00a0e3;
    display: none;
}
