html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#bug_report_wrapper{
  position: relative;
  margin: 0 auto;
  margin-top: 20vh;
  padding: 5vh 5vw;
  background-color: #fff;
  border: 2px solid #2699FB;
}

#bug_report {
  display: block;
  text-align: center;
  margin: auto;
  overflow: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}
#bug_report #header{
  text-align: left;
  padding-bottom: 2vh;
}
label {
  width: 100%;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 400px;
  max-width: 450px;
  border: 1px solid #2699FB;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
