body {
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
body .content_container{
  margin:0 auto;
  width: 60vw;
  padding-bottom:5vh;
}

.container_mx-auto_mt-4 .row{
  margin:0 auto;
  padding-left: 20vw;
}

footer{
  padding-bottom:10vh;
}

center .row{
  width: 80vw;
  padding-left:20vw;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
}
.content{
  margin:0 auto;
}

@media (max-width: 768px) {
    body .content_container {
      padding-left: 0;
    }
}
