body {
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}

body .login_container{
  height: 85vh;
  margin:0 auto;
  width: 60vw;
}

.container_mx-auto_mt-4 .row{
  width: 80vw;
  margin: 0 auto;
}
footer center .row{
  width: 80vw;
  margin: 0 auto;
  padding-left:20vw;
}

#login_wrapper form{
  padding-top: 30vh;
  margin: 0 auto;
}

#new_user_wrapper form{
  padding-top:10vh;
  padding-left: 20vw;
  margin: 0 auto;
}

@media (max-width: 768px) {
    body .login_container {
      padding-left: 0;
    }
}
