#login_wrapper{
  width: 30vw;
  height: 85vh;
  margin: 0 auto;
  margin-top: 30vh;
}

body #login_wrapper .login_content{
  margin: 0 auto;
}

.btn-primary{
  background-color:#2699FB;
  outline-color:#2699FB;
}
