#medication_wrapper{
  margin-top: 10vh;
  width: 60vw;
}

body #medication_wrapper .medication_content{
  background-color: #fff;
  border: 2px solid #2699FB;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2vh;
  height: 80vh;
  overflow-x: auto;
}
body .medication_content button{
  color: #2699FB;
}
body .medication_content{
  margin: 0 auto;
}

body .medication_content #accordion{
  margin-top: 2vh;
}

body .medication_content #card{
  border: 1px solid #2699FB;
  height: 3em;
  width: 100%;
}
body h2{
  display:inline-block;
  padding-left: 1vw;
  padding-top: .5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  color: #2699FB;
}
body #meds1 #meds2{
  text-align: right;
  display: inline-block;
  right:0;
  width: 50%;
}
