html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.question-text {
    font-weight: normal;
    display: block;
    font-size: 1.6em;
    font-family: serif;
    margin: 15px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
}

#num-text {
    font-weight: bold;
}

#question-wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 20%;
    height: 100%;
    width: 100%;
}

.question {
    display: none;
    background-color: white;
    border: 2px solid #2699FB;
    text-align: center;
    margin: auto;
    clear: both;
    overflow: auto;
    position: relative;
    max-width: 700px;
    color: #2699FB;
    font-weight: bold;
}

#choice-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 5vh;
}

.choice {
    float: left;
    display: block;
    width: 25%;
    font-size: 1em;
}

#button-container {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: 100px;
}

button {
    position: relative;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #2699FB;
    height: 60px;
    width: 40%;
    margin-bottom: 15px;
}

.previous-button {
    color: #2699FB;
    background-color: white;
    border: 2px solid #2699FB;
    float: left;
}

.next-button {
    display: none;
    background-color: #2699FB;
    float: right;
}

.submit-button {
    display: none;
    background-color: green;
    float: right;
}

.continue-button {
    background-color: #2699FB;
}

@media (max-width: 800px) {
    .question-text {
        font-size: 1.2em;
    }

    .choice {
        width: 100%;
        font-size: 0.8em;
    }
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #2699FB;
    background-color: white;
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: #2699FB;
}

input:focus{
    outline:none;
}
