{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'application/algorithm.css' %}">
{% endblock css %}

{% block body %}
    <!-- content -->
    <div id="edit-menu">
        <button id="edit-button" onclick="editLayout()">Edit Layout</button>
        <div id="algorithm-dropdown">
            <button id="dropdown-button">Select Algorithm</button>
            <div id="dropdown-content">
                <button onclick="changeAlgorithm('Depression')">Depression</button>
                <button onclick="changeAlgorithm('Bipolar Depressed')">Bipolar Depressed</button>
                <button onclick="changeAlgorithm('Bipolar Manic')">Bipolar Manic</button>
            </div>
        </div>
        <button id="save-button" onclick="setLayout()">Save Layout</button>
        <div id="link-dropdown">
            <button id="dropdown-button">Link Type</button>
            <div id="dropdown-content">
                <button onclick="setRouter('normal')">Normal</button>
                <button onclick="setRouter('manhattan')">Manhattan</button>
                <button onclick="setRouter('metro')">Metro</button>
                <button onclick="setRouter('orthogonal')">Orthogonal</button>
                <button onclick="setRouter('oneSide')">One Side</button>
            </div>
        </div>
        <button id="cancel-button" onclick="cancelLayout()">Cancel</button>
        <div id="loading-icon">
            <i class="fas fa-spinner fa-pulse fa-2x"></i>
        </div>
    </div>
    <div id="canvas-wrapper">
        <div id="canvas"></div>
    </div>
    <form id="form" method="post" hidden>
        {% csrf_token %}
    </form>

    <!-- dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>

    <!-- main script -->
    <script>
        steps = {{ steps|safe }};
    </script>
    <script src="{% static 'application/algorithm.js' %}"></script>
{% endblock body %}
