{% extends "application/global-html.html" %}
{% block body %}
    <div style="text-align: center;">
        <div class="container mx-auto mt-4">
            <div class="row">
                <div class="col-md">
                        <button class="btn btn-primary mt-4 btn-block"
                                onclick="window.location.href={% url 'logout-view' %}">User Documentation
                        </button>
                </div>
                <div class="col-md">
                        <button class="btn btn-primary mt-4 btn-block"
                                onclick="window.location.href={% url 'logout-view' %}">Developer Documentation
                        </button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}