{% extends "application/global-html.html" %}
{% block body %}
  <div id="document_wrapper">
        <div class="container_mx-auto_mt-4">
            <div class="row">
                <div class="col-md">
                        <button class="btn btn-primary mt-4 btn-block"
                                onclick="window.location.href='https://github.com/Brick7Face/psychiatric-guide-app/blob/development/User_Documentation.md'">User Documentation
                        </button>
                </div>
                <div class="col-md">
                        <button class="btn btn-primary mt-4 btn-block"
                                onclick="window.location.href='https://github.com/Brick7Face/psychiatric-guide-app/blob/development/README.md'">Developer Documentation
                        </button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
