<!-- global template html -->
<!-- sourced code from https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template -->
{% load static %} <!-- loads in static css file  application/static/application-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="sylesheet" type="text/css" href="{% static 'application/global-css.css' %}"> <!-- load in global css -->
    {% if title %}
        <title>{{ title }}</title> <!-- creates title if available -->
    {% else %}
        <title>Psychiatric Guide App</title> <!-- Generic Title -->
    {% endif %}
</head>
<header>
    <div style="text-align: center;"><h1>Application</h1></div>
</header>
<body>
<div class="container"> <!-- Bootstrap container padding-->
    <!-- Sourced message code from https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html
    And from Corey Schafer Youtube series : https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p-->
    {% if messages %}   <!--Shows messages at the top of the page if there are any created my django-->
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-success">
                    <strong>{{ message.tags }}!</strong> {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %} <!--End of message block-->

    {% block body %} <!--Block to for main body content-->
    {% endblock %}

</div>
<!-- sourced code from https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<footer>
    <div style="text-align: center;">
        <div class="container mx-auto mt-4">
            {% block footer %} <!-- Anything in this block can be overridden -->
                <div class="row">
                <div class="col-md">
                    <a href="{% url 'documentation' %}" style="color: #A9A9A9">Documentation</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-md">
                        <a href="{% url 'logout-view' %}" style="color: #A9A9A9">Logout</a>
                    </div>
                    <div class="col-md">
                        <a href="{% url 'create-new-user' %}" style="color: #A9A9A9">Add User</a>
                    </div>
                {% else %}
                    <div class="col-md">
                    <a href="{% url 'login-view' %}" style="color: #A9A9A9">Login</a>
                    <div class="col-md">
                {% endif %}

            </div>
            {% endblock %}
            </div>
    </div>
</footer>
</html>
