<!-- global template html -->
<!-- sourced code from https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template -->
{% load static %} <!-- loads in static css file  application/static/application-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Lightning force CSS -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'application/assets/styles/salesforce-lightning-design-system.css' %}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'application/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'application/sidebar.css' %}">
    {% block css %}
    {% endblock css %}

    <!-- Link to scripts -->
    {% block scripts %}
    {% endblock %}

    {% if title %}
        <title>{{ title }}</title> <!-- creates title if available -->
    {% else %}
        <title>Psychiatric Guide</title> <!-- Generic Title -->
    {% endif %}
</head>

<body>

<div class="menu_wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            {% if title %}
                <h3>{{ title }}</h3> <!-- creates title if available -->
            {% else %}
                <h3>Psychiatric Guide</h3> <!-- Generic Title -->
            {% endif %}
            <strong>Psychiatric Guide</strong>
        </div>

        <ul class="list-unstyled components">
            {% if user.is_superuser %}
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-tools"></i>
                        Admin Actions
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'create-new-user' %}">
                                <i class="fas fa-plus-circle"></i>
                                Add User
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'backend-home' %}">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <a href="{% url 'patients' %}">
                        <i class="fas fa-user"></i>
                        Patients
                    </a>
                    <a href="{% url 'treatment-overview' %}">
                        <i class="fas fa-code-branch"></i>
                        Treatment Overview
                    </a>
                    <a href="{% url 'medications' %}">
                        <i class="fas  fa-prescription"></i>
                        Medications
                    </a>
                {% else %}
                    <a href="{% url 'login-view' %}">
                        <i class="fas fa-home" style="right:0;"></i>
                        Home
                    </a>
                {% endif %}
                <a href="{% url 'bug_report' %}">
                    <i class="fas fa-bug"></i>
                    Report a Bug
                </a>
                <a href="{% url 'documentation' %}">
                    <i class="fas fa-file"></i>
                    Documentation
                </a>
            </li>
        </ul>
        <div class="login_button">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <div class="users_name">
                        Signed in as: {{ user.first_name }} {{ user.last_name }} #Admin<br>
                        <a href="{% url 'password-change' %}">Change Password</a>
                    </div>
                {% else %}
                    <div class="users_name">
                        Signed in as: {{ user.first_name }} {{ user.last_name }}
                        <a href="{% url 'password-change' %}">Change Password</a>

                    </div>
                {% endif %}

                {#                <a href="{% url 'logout-view' %}" style="color: #A9A9A9">Signout</a>#}
                {#                <button class="slds-button slds-button_outline-brand" onclick="window.location.href = {% url 'logout-view' %};"> Logout</button>#}
                <a href="{% url 'logout-view' %}" class="slds-button slds-button_outline-brand"
                   role="button">Signout</a>
            {% else %}
                <div class="users_name">
                    Not signed in
                </div>
                <a href="{% url 'login-view' %}" class="slds-button slds-button_outline-brand" role="button">Login</a>
            {% endif %}
        </div>
    </nav>
</div>

<div class="wrapper">
    <div class="content_container"> <!-- Bootstrap container padding-->
        <!-- Sourced message code from https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html
        And from Corey Schafer Youtube series : https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p-->
        {% if messages %}   <!--Shows messages at the top of the page if there are any created my django-->
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <strong>{{ message.tags }}!</strong> {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %} <!--End of message block-->
        {% block body %} <!--Block to for main body content-->
        {% endblock %}
    </div>
</div>

<!-- sourced code from https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--
<footer>
    <center>
        <div class="container_mx-auto_mt-4">
            {% block footer %}
                <div class="row">
                    <div class="col-md">
                        <a href="{% url 'documentation' %}" style="color: #A9A9A9">Documentation</a>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="col-md">
                            <a href="{% url 'logout-view' %}" style="color: #A9A9A9">Logout</a>
                        </div>
                        {% if user.is_superuser %}
                            <div class="col-md">
                                <a href="{% url 'create-new-user' %}" style="color: #A9A9A9">Add User</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col-md">
                            <a href="{% url 'login-view' %}" style="color: #A9A9A9">Login</a>
                        </div>
                    {% endif %}

                </div>
            {% endblock %}
        </div>
    </center>
</footer>
-->
</body>


</html>
