{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/medication-view.css' %}">
{% endblock css %}

{% block body %}

    <div id="medication_view_wrapper">
        <h2>
            <a href="{% url 'medications' %}" class="go_back">< Go Back</a>
        </h2>
        <div class="medication_view_content">
            <h1>Medication: {{ medication.name }} </h1>

            <div class="flex-container">
                <div id="box1" style="flex-grow: 1">
                    <div class="title"> General Information</div>
                    <h2 id="category">Category</h2>
                    <h3>{{ medication.category }}</h3>

                    <h2 id="dosing"> Dosing</h2>
                    <h3 id="initial_dose"> Initial Dose: {{ medication.initial_dose }} </h3>
                    <h3 id="maximum_dose"> Maximum Dose: {{ medication.maximum_dose }} </h3>
					<h3 id="titration"> Titration: {{ medication.titration }} </h3>
                </div>

                <div id="table" style="flex-grow: 6">
                    <div class="title"> Other Information</div>
						<h3 id="comments"> Comments: {{ medication.comments }} </h3>
						<h3 id="side_effects"> Side Effects: {{ medication.side_effects }} </h3>
					</div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
