{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/medications.css' %}">
{% endblock css %}

{% block body %}
    <div id="medication_wrapper">
        <div class="medication_content">
            <h1>
                Medications
            </h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Selective Serotonin Reuptake Inhibitors (SSRIs)
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Selective Serotonin Reuptake Inhibitors" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Serotonin-Norepinephrine Reuptake Inhibitors (SNRIs)
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Serotonin-Norepinephrine Reuptake Inhibitors" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                Bupropion
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Bupropion" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                Mirtzapine
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Mirtazapine" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                Antidepressant Augmenting Agents
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Antidepressant Augmenting Agents" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                Mood Stabilizers
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Mood Stabilizers" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                                    aria-expanded="false" aria-controls="collapseSeven">
                                Antipsychotics
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            {% for medication in medications %}
                                {% if medication.category == "Antipsychotics" %}
                                    <form method="post">
                                        <div id="card">
                                            <h2>{{ medication.name }}</h2>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
