{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'application/new-user.css' %}">
{% endblock css %}

{% block body %}
  <div id="new_user_wrapper">
      {% if user.is_superuser %} <!-- Checks if user has permission, being superuser, to create new accounts-->
          <form method="POST">
              {% csrf_token %}
              {{ new_user_form | crispy }}    <!--Uses the form created in views.py and uses crispy form formatting-->
                  <button class="btn btn-primary mt-4 btn-block" type="submit">Create User</button>
          </form>
      {% else %}  <!--If user does not have permission to create a new user-->

          <H3>Error: You must have permission to add new users.</H3>

      {% endif %}
  </div>
{% endblock body %}
