{% extends "application/global-html.html" %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'application/documentation.css' %}">
{% endblock css %}

{% block body %}
  <div id="document_wrapper">
        <div class="document_content">
          <div id="header_text">
            <h1>
              Success!
            </h1>
          </div>
          <div id="body_text">
            <p>
            Your password has been changed.
            </p>
          </div>
          <div class="row">

          </div>
        </div>
    </div>
{% endblock body %}
