{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/patient-home-depression.css' %}">
{% endblock css %}

{% block body %}

    <div id="patient_home_wrapper">
        <h2>
            <a href="{% url 'patients' %}" class="go_back">< Go Back</a>
        </h2>
        <div class="patient_home_content">
            <h1>Profile: {{ patient.first_name }} {{ patient.last_name }} </h1>
            <button onclick="location.href='{% url 'edit-patient' id=patient.id %}'" class="phq9-button" type="submit">Edit Patient</button>

            <div class="flex-container">
                <div id="box1" style="flex-grow: 1">
                    <div class="title">personal information</div>
                    <h2 id="dob">Date of Birth</h2>
                    <h3>{{ patient.dob }}</h3>

                    <h2 id="program"> Program</h2>
                    <h3> {{ treatment.name }} </h3>

                    <h2 id="contact-info"> Contact Information</h2>
                    <h3 id="address">Address: {{ patient.address }}</h3>
                    <h3 id="phone"> Phone: {{ patient.phone }} </h3>
                </div>

                <div id="table" style="flex-grow: 6">
                    <div class="title"> Patient Data</div>
                    <h2>Visit History</h2>
                    <hr>
                    {% for phq9 in phq9s %}
                        <h3>{{ phq9.date.date }}</h3>
                    {% endfor %}
                    <h2>Next Visit Data</h2>
                    <hr>
                    <h3>some dates</h3>

                    <h2 id="phq9">Current Treatment</h2>
                    <form method="get">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="algorithm">
                        <input type="hidden" name="algorithm" value="{{ treatment.name }}">
                        <button class="phq9-button" type="submit">View Current Step</button>
                    </form>
                    {% if phq9s %}
                        {% for phq9 in phq9s %}
                            {% if forloop.last %}
                                {% if phq9.change_treatment %}
                                    <h4>Treatment change may be warranted</h4>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <h3><b>Algorithm:</b> {{ treatment.name }}</h3>
                    <h3><b>Step:</b> {{ patient.current_step.description }}</h3>

                    <h2>Medications</h2>
                    <hr>
                    {% for medication in patient.medications.all %}
                        <h3>{{ medication }}</h3>
                    {% endfor %}

                    <h2 id="phq9">PHQ-9 Results</h2>
                    <form method="get">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="phq9">
                        <input type="hidden" name="patient_id" value={{ patient.id }}>
                        <button class="phq9-button" type="submit">Take PHQ-9</button>
                    </form>
                    <h5>A change in the Severity Score of 5 or more is considered clinically significant in assessing
                        improvement of symptoms. </h5>
                    <hr>
                    {% if phq9s %}
                        <div style="overflow-x:auto;">
                            <table style="width: 100%">
                                <tr>
                                    <th>Date</th>
                                    <th>Severity Score</th>
                                </tr>
                                {% for phq9 in phq9s %}
                                    <tr>
                                        <td>{{ phq9.date.date }}</td>
                                        <td>{{ phq9.severity_score }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <h3>No results yet</h3>
                    {% endif %}

                    <h2 id="phq9">MDQ Results</h2>
                    <form method="get">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="mdq">
                        <input type="hidden" name="patient_id" value={{ patient.id }}>
                        <button class="phq9-button" type="submit">Take MDQ</button>
                    </form>

                    <hr>
                    {% if mdqs %}
                        <div style="overflow-x:auto;">
                            <table style="width: 100%">
                                <tr>
                                    <th>Date</th>
                                    <th>Diagnosis</th>
                                </tr>
                                {% for mdq in mdqs %}
                                    <tr>
                                        <td>{{ mdq.date.date }}</td>
                                        <td>{{ mdq.diagnosis }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <h3>No results yet</h3>
                    {% endif %}

                    <h2>Notes</h2>
                    <hr>
                    {% if phq9s %}
                        {% for phq9 in phq9s %}
                            {% if phq9.suicide_risk %}
                                <h3> {{ phq9.date.date }}: Assess for suicide risk </h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h3>{{ patient.notes }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
