{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'application/patients.css' %}">
{% endblock css %}

{% block body %}
  <div id="patients_wrapper">
    <div class="patient_content">
      <h1>
        Patients List
      </h1>
      <div class="patient_list">
        <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
         <div class="card"><h2>Patient Name</h2></div>
      </div>
    </div>
    <button class="slds-button slds-button_outline-brand" onclick="window.location.href = {% url 'medications' %};"> Add Patient</button>
  </div>
{% endblock body %}
