{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/patients.css' %}">
{% endblock css %}

{% block body %}
    <div id="patients_wrapper">
        <div class="patient_content">
            <h1>
                Patients List
            </h1>
            <div class="patient_list">
                {% for patient in patients %}
                    <div class="card">
                        <h2>{{ patient.last_name }}, {{ patient.first_name }}</h2>
                        <div class="patient_buttons">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="patient_id" value={{ patient.id }}>
                                <input type="hidden" name="action" value="goto">
                                <button class="slds-button .slds-button__icon" type="submit">
                                    <i class="fas fa-sign-in-alt fa-lg"></i>
                                </button>
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="patient_id" value={{ patient.id }}>
                                <input type="hidden" name="action" value="delete">
                                <button class="slds-button .slds-button__icon" type="submit">
                                    <i class="fas fa-trash-alt fa-lg"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <a href="{% url 'new-patient' %}" class="slds-button slds-button_outline-brand" role="button">New Patient</a>
    </div>
{% endblock body %}
