{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/patient-home.css' %}">
{% endblock css %}

{% block body %}
    <div id="patient_home_wrapper">
        <h1>
            Patient homepage
        </h1>

        <h2>Visit History</h2>
        <h2>Treatment</h2>
        <h2>Medications</h2>
        <h2>Notes</h2>
        <h2>PHQ-9 Results</h2>
        <button></button>
        <h2>Next Visit Data</h2>
    
    </div>
{% endblock body %}