{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/patient-home.css' %}">
{% endblock css %}

{% block body %}
    <div id="patient_home_wrapper">
        <h1>Profile: {{ patient.first_name }} {{ patient.last_name }} </h1>
        <button class="button">Edit Patient</button>
        <div class="flex-container">
            <div id="personal_info">
                <h3> {{ patient.first_name }} {{ patient.last_name }} </h3>
                    <p id="dob">({{ patient.dob }})</p>
                <h2 id="contact_info">
                    Contact Information: </h2>
                    <p>Address: {{ patient.address }}</p>
                    <p>Phone: {{ patient.phone }}</p>
            </div>

            <div id="patient_data">
                <h2>Visit History</h2>
                    <p></p>
                <h2>Treatment:</h2>
                    <p>{{ patient.current_step.name }}</p>
                <h2>Medications:</h2>
                    {% for medication in patient.medications.all %}
                        <p>{{ medication }}</p>
                    {% endfor %}
                <h2>Notes:</h2>
                    <p>{{ patient.notes }}</p>
                <h2>PHQ-9 Results</h2>
                    {% if phq9s %}
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Severity Score</th>
                            </tr>
                            {% for phq9 in phq9s %}
                                <tr>
                                    <td>{{ phq9.date.date }}</td>
                                    <td>{{ phq9.severity_score }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        No results yet
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                            <input type="hidden" name="patient_id" value={{ patient.id }}>
                            <button type="submit">Take PHQ-9</button>
                    </form>
                    <h2>Next Visit Data</h2>
                        <p></p>
            </div>
        </div>

    </div>

{% endblock body %}