{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'application/treatment-overview.css' %}">
{% endblock css %}

{% block body %}
  <div id="treatment_wrapper">
    <div class="treatment_content">
      <h1>
        Treatment Overview
      </h1>
      <table style="width:100%">
          <tr>
              <td id="header">Goals of Therapy</td>
              <td id>
                  <ul>
                      <li>Remission of Symptoms (PHQ-9 < 5)</li>
                      <li>Improve function</li>
                      <li>Improve quality of life</li>
                      <li>Incorporate Psychotherapy</li>
                      <li>Prevent relapse</li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td id="header">Medication Process Monitoring</td>
              <td id="week">Week 1</td>
              <td id="item">
                  <ul>
                      <li>Decrease in anxiety</li>
                      <li>Appetite and sleep pattern normalization</li>
                      <li>Assess side effects and encourage adherence</li>
                  </ul>
              </td>
              <td id="week">Week 2 & 3</td>
              <td id="item">
                <ul>
                    <li>Increase in energy (may increase risk of suicide)</li>
                    <li>Improved concentration and memory</li>
                </ul>
              </td>
              <td id="week">Week 4-6</td>
              <td id="item">
                <ul>
                    <li>Improved mood</li>
                    <li>Decreased suicidal ideation</li>
                    <li>Assess sexual function</li>
                </ul>
              </td>

          </tr>
          <tr>
              <td id="header">Duration of Treatment</td>
              <td>
                <ul>
                    <li>6-12 weeks of treatment is needed to stabilize depressive symptoms</li>
                    <li>Continue therapeutic dose for at least 4-9 months then may try to taper</li>
                    <li>Monitor for signs of relapse</li>
                    <li>Maintenance treatment may be needed for severe or recurrent episodes</li>
                </ul>
              </td>
          </tr>
          <tr>
              <td id="header">Discontinuation of Antidepressants</td>
              <td>
                  <ul>
                      <li>Reduce dose by no more than 25% every week over the course of 4-8 weeks</li>
                      <li>If intolerable withdrawal symptoms occur, resume previous dose and slow the taper rate</li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td id="header">Common Withdrawal Symptoms</td>
              <td id="withdrawals">
                  <ul>
                    <li>Flu-like symptoms</li>
                    <li>Dizziness</li>
                    <li>Shock sensations</li>
                    <li>Malaise</li>
                  </ul>
              </td>
              <td id="withdrawals">
                  <ul>
                    <li>Headache</li>
                    <li>Nausea</li>
                    <li>Lethargy</li>
                    <li>Abnormal dreams</li>
                  </ul>
              </td>
              <td id="withdrawals">
                  <ul>
                    <li>Changes in mood, sleep, memory, and concetration</li>
                  </ul>
              </td>
          </tr>
      </table>
    </div>
  </div>
{% endblock body %}
