{% extends "application/global-html.html" %}
{% load crispy_forms_tags %}
{% load static %} <!-- loads in static css file  application/static/application-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'application/login.css' %}">
{% endblock css %}

{% block body %}
  <div id="login_wrapper">
    <div class="login_content">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div style="text-align: center;">
              <button class="btn btn-primary mt-4 btn-block" type="submit">Update</button>
          </div>
      </form>
    </div>
</div>
{% endblock body %}
